In [299]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from tqdm import tqdm
warnings.filterwarnings('ignore')
%matplotlib inline

In [300]:
# all_season_score = pd.read_csv("./data/MRegularSeasonCompactResults.csv")
all_season_gamewise = pd.read_csv("./data/MRegularSeasonDetailedResults.csv")
ncaa_season_gamewise = pd.read_csv("./data/MNCAATourneyDetailedResults.csv")

In [301]:
all_season_gamewise

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113236,2024,132,1120,86,1196,67,N,0,31,61,...,13,18,25,13,26,9,11,8,6,17
113237,2024,132,1182,57,1433,51,N,0,17,57,...,24,12,14,9,25,9,16,10,9,16
113238,2024,132,1228,93,1458,87,N,0,30,57,...,20,20,23,13,17,17,7,7,1,20
113239,2024,132,1412,85,1396,69,N,0,31,63,...,21,14,17,11,26,17,14,6,6,18
113240,2024,132,1463,62,1135,61,N,0,25,64,...,25,8,15,8,27,13,9,3,3,11

In [302]:
all_season_gamewise[all_season_gamewise.Season == 2023].shape

(5602, 34)

In [303]:
test_data = all_season_gamewise[all_season_gamewise.Season == 2024]
all_season_gamewise = all_season_gamewise[all_season_gamewise.Season < 2024]

In [304]:
all_season_gamewise.shape, ncaa_season_gamewise.shape, test_data.shape

((107634, 34), (1315, 34), (5607, 34))

In [305]:
# all_season_score = all_season_score[all_season_score.Season >= 2003].reset_index().drop(columns=['index'])
# all_season_score

In [306]:
all_season_gamewise.columns, ncaa_season_gamewise.columns

(Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
        'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
        'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
        'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
       dtype='object'),
 Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
        'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
        'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
        'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
       dtype='object'))

In [307]:
all_df_dropped_cols = all_season_gamewise.drop(columns=['Season', 'WLoc', 'NumOT'])
ncaa_df_dropped_cols = ncaa_season_gamewise.drop(columns=['Season', 'WLoc', 'NumOT'])
test_df_dropped_cols = test_data.drop(columns=['Season', 'WLoc', 'NumOT'])

In [308]:
combined_df = pd.concat([all_df_dropped_cols, ncaa_df_dropped_cols])

In [309]:
combined_df.columns

Index(['DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WFGM', 'WFGA',
       'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl',
       'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR',
       'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [187]:
combined_team_a = combined_df[['WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 
                               'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
combined_team_b = combined_df[['LTeamID', 'LScore', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 
                               'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
combined_team_b = combined_team_b.rename(columns=lambda x: 'W' + x[1:])



test_combined_team_a = test_df_dropped_cols[['WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 
                               'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
test_combined_team_b = test_df_dropped_cols[['LTeamID', 'LScore', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 
                               'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
test_combined_team_b = test_combined_team_b.rename(columns=lambda x: 'W' + x[1:])

In [188]:
indexes_shuffled = np.random.permutation(len(combined_team_a))
total_combination = len(combined_team_a)

test_indexes_shuffled = np.random.permutation(len(test_combined_team_a))
test_total_combination = len(test_combined_team_a)

In [189]:
team_a_df = pd.DataFrame(columns=combined_team_a.columns)
team_b_df = pd.DataFrame(columns=combined_team_b.columns)

test_team_a_df = pd.DataFrame(columns=test_combined_team_a.columns)
test_team_b_df = pd.DataFrame(columns=test_combined_team_a.columns)

In [190]:
for i in tqdm(range(total_combination)):
    ind1 = indexes_shuffled[i]
    x = np.random.uniform()
    if x > 0.5:
        team_a_df = team_a_df.append(combined_team_a.iloc[ind1])
        team_b_df = team_b_df.append(combined_team_b.iloc[ind1])
    else:
        team_a_df = team_a_df.append(combined_team_b.iloc[ind1])
        team_b_df = team_b_df.append(combined_team_a.iloc[ind1])
        
for i in tqdm(range(test_total_combination)):
    ind1 = test_indexes_shuffled[i]
    x = np.random.uniform()
    if x > 0.5:
        test_team_a_df = test_team_a_df.append(test_combined_team_a.iloc[ind1])
        test_team_b_df = test_team_b_df.append(test_combined_team_b.iloc[ind1])
    else:
        test_team_a_df = test_team_a_df.append(test_combined_team_b.iloc[ind1])
        test_team_b_df = test_team_b_df.append(test_combined_team_a.iloc[ind1])

100%|██████████████████████████████████| 108949/108949 [16:25<00:00, 110.58it/s]
100%|██████████████████████████████████████| 5607/5607 [00:12<00:00, 453.25it/s]

In [197]:
team_a_df.to_csv("./data/team_a_df.csv", index=False)
team_b_df.to_csv("./data/team_b_df.csv", index=False)

test_team_a_df.to_csv("./data/test_team_a_df.csv", index=False)
test_team_b_df.to_csv("./data/test_team_b_df.csv", index=False)

# Checkpoint 1 - saved the dataset

In [198]:
team_a_df = pd.read_csv("./data/team_a_df.csv")
team_b_df = pd.read_csv("./data/team_b_df.csv")

test_team_a_df = pd.read_csv("./data/test_team_a_df.csv")
test_team_b_df = pd.read_csv("./data/test_team_b_df.csv")

TS% = (0.5∗(points_score))/((field_goal_attempts) + 0.44*(free_throw_attempts))

In [199]:
team_a_df['WTS'] = (0.5 * team_a_df.WScore.astype(float)) / (team_a_df.WFGA.astype(float) + 0.44*team_a_df.WFTA.astype(float))
team_b_df['WTS'] = (0.5 * team_b_df.WScore.astype(float)) / (team_b_df.WFGA.astype(float) + 0.44*team_b_df.WFTA.astype(float))

test_team_a_df['WTS'] = (0.5 * test_team_a_df.WScore.astype(float)) / (test_team_a_df.WFGA.astype(float) + 0.44*test_team_a_df.WFTA.astype(float))
test_team_b_df['WTS'] = (0.5 * test_team_b_df.WScore.astype(float)) / (test_team_b_df.WFGA.astype(float) + 0.44*test_team_b_df.WFTA.astype(float))

In [200]:
from sklearn.preprocessing import LabelEncoder

In [201]:
labelEncoder = LabelEncoder()
all_teams_name = list(set(team_a_df.WTeamID.to_list() + team_b_df.WTeamID.to_list() + 
                          test_team_a_df.WTeamID.to_list() + test_team_b_df.WTeamID.to_list()))
labelEncoder.fit(all_teams_name)

LabelEncoder()

In [202]:
team_a_df['encoded_team'] = labelEncoder.transform(team_a_df.WTeamID)
team_b_df['encoded_team'] = labelEncoder.transform(team_b_df.WTeamID)
target_score_differential = team_a_df.WScore - team_b_df.WScore


test_team_a_df['encoded_team'] = labelEncoder.transform(test_team_a_df.WTeamID)
test_team_b_df['encoded_team'] = labelEncoder.transform(test_team_b_df.WTeamID)

In [203]:
team_a_df.columns

Index(['WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA',
       'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'WTS',
       'encoded_team'],
      dtype='object')

In [543]:
# removed WScore
features = ['encoded_team', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'WTS']

In [545]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, Concatenate, Add

In [552]:
# Define the hyperparameters for our model.
embedding_dim = 64
num_teams = len(all_teams_name)

def get_model():
    """
    This function creates a tensorflow model using the Keras Functional API.

    Returns:
      - keras.engine.functional.Functional: The compiled Tensorflow/Keras model
    """
    # As mentioned above, we are using the team's label encoded values as inputs
    team_a = Input(shape=(len(features),), name='team_a')
    team_b = Input(shape=(len(features),), name='team_b')

    # Embedding layers for two labels
    team_a_embedding = Embedding(num_teams, embedding_dim, input_length=1, name='team_a_embedding')(team_a)
    team_b_embedding = Embedding(num_teams, embedding_dim, input_length=1, name='team_b_embedding')(team_b)
    
    # Flatten and concatenate the layers.
    team_a_flat = Flatten()(team_a_embedding)
    team_b_flat = Flatten()(team_b_embedding)
    team_a_b = Concatenate()([team_a_flat, team_b_flat])
    
    # Leverage some dense layers to extract data 
    dense_1 = Dense(256, activation='relu')(team_a_b)
    dense_2 = Dense(128, activation='relu')(dense_1)
    # We are using a linear activation on the final layer as we are predicting the score_diff
    output_layer = Dense(1, activation='linear', name='output')(dense_2)

    # Finalize the model by defining inputs/outputs and compiliation details
    model = Model(inputs=[team_a, team_b], outputs=output_layer)
    adam = Adam(learning_rate=5e-5)
    model.compile(optimizer=adam, loss='mse', metrics=['mae'])
    
    return model

In [553]:
adv_model = get_model()
adv_model.summary()

Model: "model_15"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 team_a (InputLayer)         [(None, 15)]                 0         []

 team_b (InputLayer)         [(None, 15)]                 0         []

 team_a_embedding (Embeddin  (None, 15, 64)               23616     ['team_a[0][0]']
 g)

 team_b_embedding (Embeddin  (None, 15, 64)               23616     ['team_b[0][0]']
 g)

 flatten_30 (Flatten)        (None, 960)                  0         ['team_a_embedding[0][0]']

 flatten_31 (Flatten)        (None, 960)                  0         ['team_b_embedding[0][0]']

 concatenate_15 (Concatenat  (None, 1920)                 0         ['flatten_30[0][0]',
 e)                                                                  'flatten_31[0][0]']

 dense_28 (Dense)            (None, 256)                  491776    ['concatenate_15[0][0]']

 dense_29 (Dense)            (None, 128)                  32896     ['dense_28[0][0]']

 output (Dense)              (None, 1)                    129       ['dense_29[0][0]']

==================================================================================================
Total params: 572033 (2.18 MB)
Trainable params: 572033 (2.18 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [555]:
adv_model.fit(
    [team_a_df[features], team_b_df[features]],
    target_score_differential,
    batch_size=32,
    epochs=1,
    validation_split=0.3
)

2384/2384 [==============================] - 16s 7ms/step - loss: 0.1304 - mae: 0.1566 - val_loss: 0.2735 - val_mae: 0.2490

In [556]:
adv_model.save("./data/final_model_last6_games.h5")

In [557]:
prediction_score_differential = adv_model.predict([test_team_a_df[features], test_team_b_df[features]])
prediction_score_differential = prediction_score_differential.flatten()

176/176 [==============================] - 0s 2ms/step

In [558]:
actual_score_differential = []
for index, (row_a, row_b) in enumerate(zip(test_team_a_df.iterrows(), test_team_b_df.iterrows())):
    index_a, data_a = row_a
    index_b, data_b = row_b
    score_differential = data_a['WScore'] - data_b['WScore']
    actual_score_differential.append(score_differential)
#     print(f"Row {index+1}: => Score Differential: {score_differential}")

In [559]:
count = 0
for x, y in zip(actual_score_differential, prediction_score_differential):
    if x<0 and y<0:
        count += 1
    if x>0 and y>0:
        count+=1
        
print(f"The accuracy over the 2024 regular season is: {(float(count)/len(actual_score_differential))*100.0}% given the score is known")

The accuracy over the 2024 regular season is: 99.98216515070447% given the score is known

In [560]:
teams_in_2024 = list(set(test_team_a_df.WTeamID.to_list() + test_team_b_df.WTeamID.to_list()))

In [561]:
season_23_data_team_a_df = team_a_df
season_23_data_team_b_df = team_b_df
# removed WScore
features_for_averaging = ['WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'WTS']

In [562]:
len(features_for_averaging)

14

In [563]:
sorted_all_season_gamewise = all_season_gamewise.sort_values(by='DayNum', ascending=False)
sorted_all_season_gamewise.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [568]:
teams_in_2024_average_stats = {}
for team in tqdm(teams_in_2024):
    df_tmp_if_a_team = season_23_data_team_a_df[season_23_data_team_a_df.WTeamID == team][features_for_averaging]
    df_tmp_if_b_team = season_23_data_team_b_df[season_23_data_team_b_df.WTeamID == team][features_for_averaging]
    average_if_a_team = df_tmp_if_a_team.iloc[:3,:].describe().mean().values
    average_if_b_team = df_tmp_if_b_team.iloc[:3,:].describe().mean().values
    overall_average = (average_if_a_team + average_if_b_team)/2.0
    teams_in_2024_average_stats[team] = overall_average

# teams_in_2024_average_stats = {}
# for team in teams_in_2024:

100%|█████████████████████████████████████████| 362/362 [00:19<00:00, 18.46it/s]

In [569]:
prediction_score_differential = []
teamsA = test_team_a_df.WTeamID.to_list()
teamsB = test_team_b_df.WTeamID.to_list()
for team_a, team_b in tqdm(zip(teamsA, teamsB), total=len(test_team_a_df)):
    team_a_features = np.concatenate([labelEncoder.transform([team_a]),teams_in_2024_average_stats[team_a]])
    team_b_features = np.concatenate([labelEncoder.transform([team_b]),teams_in_2024_average_stats[team_b]])
    prediction = adv_model.predict([np.reshape(team_a_features, (1,15)), 
                             np.reshape(team_b_features, (1,15))], verbose=False)
    prediction_score_differential.append(prediction)

100%|███████████████████████████████████████| 5607/5607 [06:06<00:00, 15.28it/s]

In [570]:
actual_score_differential = []
for index, (row_a, row_b) in enumerate(zip(test_team_a_df.iterrows(), test_team_b_df.iterrows())):
    index_a, data_a = row_a
    index_b, data_b = row_b
    score_differential = data_a['WScore'] - data_b['WScore']
    actual_score_differential.append(score_differential)
#     print(f"Row {index+1}: => Score Differential: {score_differential}")

In [571]:
count = 0
for x, y in zip(actual_score_differential, prediction_score_differential):
    if x<0 and y<0:
        count += 1
    if x>0 and y>0:
        count+=1
        
print(f"The accuracy over the 2024 regular season is: {(float(count)/len(actual_score_differential))*100.0}% where average score of previous regular season is taken")

The accuracy over the 2024 regular season is: 53.95041911895845% where average score of previous regular season is taken

In [572]:
mens_team = pd.read_csv("./data/MTeams.csv")

In [573]:
team_ids_to_name = {}
team_name_to_ids = {}
for x, y in zip(mens_team.TeamName.to_list(), mens_team.TeamID.to_list()):
    team_ids_to_name[y] = x
    team_name_to_ids[x] = y

In [574]:
# 64 seeded teams

# These teams won the First four matches
# Boise St -> Colorado
# Howard -> Wagner

teams_2024_ncaa = pd.read_csv("./data/2024_tourney_seeds.csv")
list_of_team_ids = teams_2024_ncaa[teams_2024_ncaa.Tournament == 'M'].TeamID.to_list()
list_of_team_names = [team_ids_to_name[x] for x in list_of_team_ids]
list_of_team_names = ['Colorado' if x == 'Boise St' else x for x in list_of_team_names]
list_of_team_names = ['Wagner' if x == 'Howard' else x for x in list_of_team_names]
list_of_team_ids = [team_name_to_ids[x] for x in list_of_team_names]

In [575]:
list_of_team_names[:5]

['Connecticut', 'Iowa St', 'Illinois', 'Auburn', 'San Diego St']

In [577]:
total_teams = 64
TeamA_ID = []
TeamA_Name = []
TeamB_ID = []
TeamB_Name = []
Is_TeamA_winner = []
count = 0
for i in tqdm(range(total_teams)):
    for j in range(i+1, total_teams):
        count += 1
        TeamA_ID.append(list_of_team_ids[i])
        TeamA_Name.append(team_ids_to_name[list_of_team_ids[i]])
        TeamB_ID.append(list_of_team_ids[j])
        TeamB_Name.append(team_ids_to_name[list_of_team_ids[j]])
        
        TeamA_ID.append(list_of_team_ids[j])
        TeamA_Name.append(team_ids_to_name[list_of_team_ids[j]])
        TeamB_ID.append(list_of_team_ids[i])
        TeamB_Name.append(team_ids_to_name[list_of_team_ids[i]])
        
        team_a_features = np.concatenate([labelEncoder.transform([list_of_team_ids[i]]),teams_in_2024_average_stats[list_of_team_ids[i]]])
        team_b_features = np.concatenate([labelEncoder.transform([list_of_team_ids[j]]),teams_in_2024_average_stats[list_of_team_ids[j]]])
        prediction = adv_model.predict([np.reshape(team_a_features, (1,15)), 
                             np.reshape(team_b_features, (1,15))], verbose=False)
        if prediction > 0:
            Is_TeamA_winner.append(1)
            Is_TeamA_winner.append(0)
        else:
            Is_TeamA_winner.append(0)
            Is_TeamA_winner.append(1)
print(count)

100%|███████████████████████████████████████████| 64/64 [02:13<00:00,  2.08s/it]

2016

In [578]:
final_submission = pd.DataFrame({'TeamA_ID': TeamA_ID, 'TeamA_Name': TeamA_Name, 'TeamB_ID': TeamB_ID,
                                'TeamB_Name': TeamB_Name, 'Is_TeamA_winner': Is_TeamA_winner})

In [579]:
final_submission = final_submission.sort_values(by=['TeamA_ID']).reset_index(drop=True)
final_submission

      TeamA_ID TeamA_Name  TeamB_ID      TeamB_Name  Is_TeamA_winner
0         1103      Akron      1124          Baylor                1
1         1103      Akron      1228        Illinois                1
2         1103      Akron      1395             TCU                1
3         1103      Akron      1314  North Carolina                1
4         1103      Akron      1161     Colorado St                1
...        ...        ...       ...             ...              ...
4027      1463       Yale      1436         Vermont                1
4028      1463       Yale      1447          Wagner                0
4029      1463       Yale      1196         Florida                1
4030      1463       Yale      1120          Auburn                1
4031      1463       Yale      1163     Connecticut                1

[4032 rows x 5 columns]

In [501]:
final_submission = final_submission.sort_values(by=['TeamA_ID']).reset_index(drop=True)
final_submission

      TeamA_ID TeamA_Name  TeamB_ID      TeamB_Name  Is_TeamA_winner
0         1103      Akron      1124          Baylor                0
1         1103      Akron      1228        Illinois                0
2         1103      Akron      1395             TCU                1
3         1103      Akron      1314  North Carolina                1
4         1103      Akron      1161     Colorado St                0
...        ...        ...       ...             ...              ...
4027      1463       Yale      1436         Vermont                1
4028      1463       Yale      1447          Wagner                1
4029      1463       Yale      1196         Florida                1
4030      1463       Yale      1120          Auburn                0
4031      1463       Yale      1163     Connecticut                0

[4032 rows x 5 columns]

In [580]:
final_submission.to_csv("./data/Final_brackets_submission_1.csv", index=False)

In [415]:
# testing for matches played on 19 March
# Howard = 1224
# Wagner = 1447

In [470]:
team_name_to_ids['Grand Canyon']

1213

In [471]:
team_name_to_ids['Marquette']

1266

In [476]:
team_a_features = np.concatenate([labelEncoder.transform([1213]),teams_in_2024_average_stats[1213]])
team_b_features = np.concatenate([labelEncoder.transform([1266]),teams_in_2024_average_stats[1266]])
adv_model.predict([np.reshape(team_b_features, (1,16)), np.reshape(team_a_features, (1,16))], verbose=False)

array([[-3.0033898]], dtype=float32)

In [477]:
team_a_features = np.concatenate([labelEncoder.transform([1213]),teams_in_2024_average_stats[1213]])
team_b_features = np.concatenate([labelEncoder.transform([1266]),teams_in_2024_average_stats[1266]])
adv_model.predict([np.reshape(team_a_features, (1,16)), np.reshape(team_b_features, (1,16))], verbose=False)

array([[6.366941]], dtype=float32)

In [478]:
# Grand Canyon
team_a_features

array([108.        ,  73.63675988,  37.51353254,  61.34776722,
        24.17327798,  34.23797584,  30.97376101,  35.45867427,
        26.10663985,  37.52541967,  28.79420289,  27.78165225,
        22.88896244,  20.64161541,  31.637165  ,  18.49003557])

In [479]:
# Marquette
team_b_features

array([160.        ,  99.68841161,  62.80351195,  86.35031316,
        49.07254804,  58.87724818,  55.77685437,  60.52733221,
        51.64984974,  61.5047744 ,  54.86108744,  53.28371402,
        48.97278062,  46.02113856,  56.26524661,  43.04977478])

In [583]:
final_submission[final_submission.TeamA_Name == 'Connecticut'].head(60)

     TeamA_ID   TeamA_Name  TeamB_ID      TeamB_Name  Is_TeamA_winner
693      1163  Connecticut      1235         Iowa St                0
694      1163  Connecticut      1160        Colorado                0
695      1163  Connecticut      1161     Colorado St                0
696      1163  Connecticut      1332          Oregon                0
697      1163  Connecticut      1270      McNeese St                1
698      1163  Connecticut      1359         Samford                1
699      1163  Connecticut      1103           Akron                0
700      1163  Connecticut      1389      St Peter's                1
701      1163  Connecticut      1212       Grambling                1
702      1163  Connecticut      1222         Houston                1
703      1163  Connecticut      1182        Duquesne                0
704      1163  Connecticut      1266       Marquette                1
705      1163  Connecticut      1246        Kentucky                0
706      1163  Connecticut      1395             TCU                1
707      1163  Connecticut      1181            Duke                0
708      1163  Connecticut      1403      Texas Tech                0
709      1163  Connecticut      1179           Drake                0
710      1163  Connecticut      1196         Florida                1
711      1163  Connecticut      1304        Nebraska                1
712      1163  Connecticut      1401       Texas A&M                0
713      1163  Connecticut      1463            Yale                0
714      1163  Connecticut      1301        NC State                0
715      1163  Connecticut      1241   James Madison                1
716      1163  Connecticut      1436         Vermont                1
717      1163  Connecticut      1324         Oakland                0
718      1163  Connecticut      1443             WKU                0
719      1163  Connecticut      1458       Wisconsin                1
720      1163  Connecticut      1255        Longwood                1
721      1163  Connecticut      1429         Utah St                1
722      1163  Connecticut      1376  South Carolina                1
723      1163  Connecticut      1287     Morehead St                1
724      1163  Connecticut      1355     S Dakota St                1
725      1163  Connecticut      1391         Stetson                1
726      1163  Connecticut      1314  North Carolina                1
727      1163  Connecticut      1112         Arizona                0
728      1163  Connecticut      1124          Baylor                0
729      1163  Connecticut      1104         Alabama                0
730      1163  Connecticut      1388    St Mary's CA                0
731      1163  Connecticut      1155         Clemson                0
732      1163  Connecticut      1173          Dayton                1
733      1163  Connecticut      1280  Mississippi St                1
734      1163  Connecticut      1400           Texas                1
735      1163  Connecticut      1277     Michigan St                0
736      1163  Connecticut      1307      New Mexico                0
737      1163  Connecticut      1213    Grand Canyon                1
738      1163  Connecticut      1158  Col Charleston                0
739      1163  Connecticut      1159         Colgate                1
740      1163  Connecticut      1253   Long Beach St                0
741      1163  Connecticut      1447          Wagner                0
742      1163  Connecticut      1345          Purdue                1
743      1163  Connecticut      1397       Tennessee                1
744      1163  Connecticut      1166       Creighton                0
745      1163  Connecticut      1242          Kansas                0
746      1163  Connecticut      1211         Gonzaga                0
747      1163  Connecticut      1305          Nevada                1
748      1163  Connecticut      1321    Northwestern                0
749      1163  Connecticut      1412             UAB                0
750      1163  Connecticut      1120          Auburn                1
751      1163  Connecticut      1194     FL Atlantic                0
752      1163  Connecticut      1450   Washington St                1