In [299]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from tqdm import tqdm
warnings.filterwarnings('ignore')
%matplotlib inline

In [300]:
# all_season_score = pd.read_csv("./data/MRegularSeasonCompactResults.csv")
all_season_gamewise = pd.read_csv("./data/MRegularSeasonDetailedResults.csv")
ncaa_season_gamewise = pd.read_csv("./data/MNCAATourneyDetailedResults.csv")

In [301]:
all_season_gamewise

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113236,2024,132,1120,86,1196,67,N,0,31,61,...,13,18,25,13,26,9,11,8,6,17
113237,2024,132,1182,57,1433,51,N,0,17,57,...,24,12,14,9,25,9,16,10,9,16
113238,2024,132,1228,93,1458,87,N,0,30,57,...,20,20,23,13,17,17,7,7,1,20
113239,2024,132,1412,85,1396,69,N,0,31,63,...,21,14,17,11,26,17,14,6,6,18
113240,2024,132,1463,62,1135,61,N,0,25,64,...,25,8,15,8,27,13,9,3,3,11

In [302]:
all_season_gamewise[all_season_gamewise.Season == 2023].shape

(5602, 34)

In [303]:
test_data = all_season_gamewise[all_season_gamewise.Season == 2024]
all_season_gamewise = all_season_gamewise[all_season_gamewise.Season < 2024]

In [304]:
all_season_gamewise.shape, ncaa_season_gamewise.shape, test_data.shape

((107634, 34), (1315, 34), (5607, 34))

In [305]:
# all_season_score = all_season_score[all_season_score.Season >= 2003].reset_index().drop(columns=['index'])
# all_season_score

In [306]:
all_season_gamewise.columns, ncaa_season_gamewise.columns

(Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
        'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
        'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
        'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
       dtype='object'),
 Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
        'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
        'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
        'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
       dtype='object'))

In [307]:
all_df_dropped_cols = all_season_gamewise.drop(columns=['Season', 'WLoc', 'NumOT'])
ncaa_df_dropped_cols = ncaa_season_gamewise.drop(columns=['Season', 'WLoc', 'NumOT'])
test_df_dropped_cols = test_data.drop(columns=['Season', 'WLoc', 'NumOT'])

In [308]:
combined_df = pd.concat([all_df_dropped_cols, ncaa_df_dropped_cols])

In [309]:
combined_df.columns

Index(['DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WFGM', 'WFGA',
       'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl',
       'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR',
       'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [187]:
combined_team_a = combined_df[['WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 
                               'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
combined_team_b = combined_df[['LTeamID', 'LScore', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 
                               'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
combined_team_b = combined_team_b.rename(columns=lambda x: 'W' + x[1:])



test_combined_team_a = test_df_dropped_cols[['WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 
                               'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
test_combined_team_b = test_df_dropped_cols[['LTeamID', 'LScore', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 
                               'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
test_combined_team_b = test_combined_team_b.rename(columns=lambda x: 'W' + x[1:])

In [188]:
indexes_shuffled = np.random.permutation(len(combined_team_a))
total_combination = len(combined_team_a)

test_indexes_shuffled = np.random.permutation(len(test_combined_team_a))
test_total_combination = len(test_combined_team_a)

In [189]:
team_a_df = pd.DataFrame(columns=combined_team_a.columns)
team_b_df = pd.DataFrame(columns=combined_team_b.columns)

test_team_a_df = pd.DataFrame(columns=test_combined_team_a.columns)
test_team_b_df = pd.DataFrame(columns=test_combined_team_a.columns)

In [190]:
for i in tqdm(range(total_combination)):
    ind1 = indexes_shuffled[i]
    x = np.random.uniform()
    if x > 0.5:
        team_a_df = team_a_df.append(combined_team_a.iloc[ind1])
        team_b_df = team_b_df.append(combined_team_b.iloc[ind1])
    else:
        team_a_df = team_a_df.append(combined_team_b.iloc[ind1])
        team_b_df = team_b_df.append(combined_team_a.iloc[ind1])
        
for i in tqdm(range(test_total_combination)):
    ind1 = test_indexes_shuffled[i]
    x = np.random.uniform()
    if x > 0.5:
        test_team_a_df = test_team_a_df.append(test_combined_team_a.iloc[ind1])
        test_team_b_df = test_team_b_df.append(test_combined_team_b.iloc[ind1])
    else:
        test_team_a_df = test_team_a_df.append(test_combined_team_b.iloc[ind1])
        test_team_b_df = test_team_b_df.append(test_combined_team_a.iloc[ind1])

100%|██████████████████████████████████| 108949/108949 [16:25<00:00, 110.58it/s]
100%|██████████████████████████████████████| 5607/5607 [00:12<00:00, 453.25it/s]

In [197]:
team_a_df.to_csv("./data/team_a_df.csv", index=False)
team_b_df.to_csv("./data/team_b_df.csv", index=False)

test_team_a_df.to_csv("./data/test_team_a_df.csv", index=False)
test_team_b_df.to_csv("./data/test_team_b_df.csv", index=False)

# Checkpoint 1 - saved the dataset

In [198]:
team_a_df = pd.read_csv("./data/team_a_df.csv")
team_b_df = pd.read_csv("./data/team_b_df.csv")

test_team_a_df = pd.read_csv("./data/test_team_a_df.csv")
test_team_b_df = pd.read_csv("./data/test_team_b_df.csv")

TS% = (0.5∗(points_score))/((field_goal_attempts) + 0.44*(free_throw_attempts))

In [199]:
team_a_df['WTS'] = (0.5 * team_a_df.WScore.astype(float)) / (team_a_df.WFGA.astype(float) + 0.44*team_a_df.WFTA.astype(float))
team_b_df['WTS'] = (0.5 * team_b_df.WScore.astype(float)) / (team_b_df.WFGA.astype(float) + 0.44*team_b_df.WFTA.astype(float))

test_team_a_df['WTS'] = (0.5 * test_team_a_df.WScore.astype(float)) / (test_team_a_df.WFGA.astype(float) + 0.44*test_team_a_df.WFTA.astype(float))
test_team_b_df['WTS'] = (0.5 * test_team_b_df.WScore.astype(float)) / (test_team_b_df.WFGA.astype(float) + 0.44*test_team_b_df.WFTA.astype(float))

In [200]:
from sklearn.preprocessing import LabelEncoder

In [201]:
labelEncoder = LabelEncoder()
all_teams_name = list(set(team_a_df.WTeamID.to_list() + team_b_df.WTeamID.to_list() + 
                          test_team_a_df.WTeamID.to_list() + test_team_b_df.WTeamID.to_list()))
labelEncoder.fit(all_teams_name)

LabelEncoder()

In [202]:
team_a_df['encoded_team'] = labelEncoder.transform(team_a_df.WTeamID)
team_b_df['encoded_team'] = labelEncoder.transform(team_b_df.WTeamID)
target_score_differential = team_a_df.WScore - team_b_df.WScore


test_team_a_df['encoded_team'] = labelEncoder.transform(test_team_a_df.WTeamID)
test_team_b_df['encoded_team'] = labelEncoder.transform(test_team_b_df.WTeamID)

In [203]:
team_a_df.columns

Index(['WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA',
       'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'WTS',
       'encoded_team'],
      dtype='object')

In [310]:
# removed WScore and WTS
features = ['encoded_team', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'WTS']

In [311]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, Concatenate, Add

In [312]:
# Define the hyperparameters for our model.
embedding_dim = 32
num_teams = len(all_teams_name)

def get_model():
    """
    This function creates a tensorflow model using the Keras Functional API.

    Returns:
      - keras.engine.functional.Functional: The compiled Tensorflow/Keras model
    """
    # As mentioned above, we are using the team's label encoded values as inputs
    team_a = Input(shape=(len(features),), name='team_a')
    team_b = Input(shape=(len(features),), name='team_b')

    # Embedding layers for two labels
    team_a_embedding = Embedding(num_teams, embedding_dim, input_length=1, name='team_a_embedding')(team_a)
    team_b_embedding = Embedding(num_teams, embedding_dim, input_length=1, name='team_b_embedding')(team_b)
    
    # Flatten and concatenate the layers.
    team_a_flat = Flatten()(team_a_embedding)
    team_b_flat = Flatten()(team_b_embedding)
    team_a_b = Concatenate()([team_a_flat, team_b_flat])
    
    # Leverage some dense layers to extract data 
    dense_1 = Dense(256, activation='relu')(team_a_b)
    dense_2 = Dense(128, activation='relu')(dense_1)
    # We are using a linear activation on the final layer as we are predicting the score_diff
    output_layer = Dense(1, activation='linear', name='output')(dense_2)

    # Finalize the model by defining inputs/outputs and compiliation details
    model = Model(inputs=[team_a, team_b], outputs=output_layer)
    adam = Adam(learning_rate=1e-4)
    model.compile(optimizer=adam, loss='mse', metrics=['mae'])
    
    return model

In [313]:
adv_model = get_model()
adv_model.summary()

Model: "model_12"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 team_a (InputLayer)         [(None, 16)]                 0         []

 team_b (InputLayer)         [(None, 16)]                 0         []

 team_a_embedding (Embeddin  (None, 16, 32)               11808     ['team_a[0][0]']
 g)

 team_b_embedding (Embeddin  (None, 16, 32)               11808     ['team_b[0][0]']
 g)

 flatten_24 (Flatten)        (None, 512)                  0         ['team_a_embedding[0][0]']

 flatten_25 (Flatten)        (None, 512)                  0         ['team_b_embedding[0][0]']

 concatenate_12 (Concatenat  (None, 1024)                 0         ['flatten_24[0][0]',
 e)                                                                  'flatten_25[0][0]']

 dense_22 (Dense)            (None, 256)                  262400    ['concatenate_12[0][0]']

 dense_23 (Dense)            (None, 128)                  32896     ['dense_22[0][0]']

 output (Dense)              (None, 1)                    129       ['dense_23[0][0]']

==================================================================================================
Total params: 319041 (1.22 MB)
Trainable params: 319041 (1.22 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [314]:
adv_model.fit(
    [team_a_df[features], team_b_df[features]],
    target_score_differential,
    batch_size=25,
    epochs=10,
    validation_split=0.3
)

Epoch 1/10
3051/3051 [==============================] - 12s 4ms/step - loss: 33.7919 - mae: 3.1566 - val_loss: 3.6696 - val_mae: 1.1399
Epoch 2/10
3051/3051 [==============================] - 11s 4ms/step - loss: 2.2927 - mae: 0.8450 - val_loss: 1.3272 - val_mae: 0.5697
Epoch 3/10
3051/3051 [==============================] - 11s 4ms/step - loss: 1.0175 - mae: 0.4911 - val_loss: 0.7405 - val_mae: 0.3785
Epoch 4/10
3051/3051 [==============================] - 11s 4ms/step - loss: 0.6010 - mae: 0.3594 - val_loss: 0.4980 - val_mae: 0.2724
Epoch 5/10
3051/3051 [==============================] - 11s 4ms/step - loss: 0.4056 - mae: 0.2995 - val_loss: 0.3771 - val_mae: 0.2229
Epoch 6/10
3051/3051 [==============================] - 11s 4ms/step - loss: 0.2844 - mae: 0.2587 - val_loss: 0.3111 - val_mae: 0.2084
Epoch 7/10
3051/3051 [==============================] - 11s 4ms/step - loss: 0.2026 - mae: 0.2332 - val_loss: 0.4604 - val_mae: 0.3995
Epoch 8/10
3051/3051 [==============================] - 12s 4ms/step - loss: 0.1567 - mae: 0.2180 - val_loss: 0.2972 - val_mae: 0.2520
Epoch 9/10
3051/3051 [==============================] - 12s 4ms/step - loss: 0.1229 - mae: 0.2066 - val_loss: 0.2483 - val_mae: 0.2062
Epoch 10/10
3051/3051 [==============================] - 12s 4ms/step - loss: 0.0963 - mae: 0.1909 - val_loss: 0.2123 - val_mae: 0.1201

In [315]:
prediction_score_differential = adv_model.predict([test_team_a_df[features], test_team_b_df[features]])
prediction_score_differential = prediction_score_differential.flatten()

176/176 [==============================] - 0s 1ms/step

In [316]:
actual_score_differential = []
for index, (row_a, row_b) in enumerate(zip(test_team_a_df.iterrows(), test_team_b_df.iterrows())):
    index_a, data_a = row_a
    index_b, data_b = row_b
    score_differential = data_a['WScore'] - data_b['WScore']
    actual_score_differential.append(score_differential)
#     print(f"Row {index+1}: => Score Differential: {score_differential}")

In [317]:
count = 0
for x, y in zip(actual_score_differential, prediction_score_differential):
    if x<0 and y<0:
        count += 1
    if x>0 and y>0:
        count+=1
        
print(f"The accuracy over the 2024 regular season is: {(float(count)/len(actual_score_differential))*100.0}% given the score is known")

The accuracy over the 2024 regular season is: 99.96433030140895% given the score is known

In [318]:
teams_in_2024 = list(set(test_team_a_df.WTeamID.to_list() + test_team_b_df.WTeamID.to_list()))

In [356]:
season_23_data_team_a_df = team_a_df
season_23_data_team_b_df = team_b_df
features_for_averaging = ['WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'WTS']

In [357]:
sorted_all_season_gamewise = all_season_gamewise.sort_values(by='DayNum', ascending=False)
sorted_all_season_gamewise.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [358]:
teams_in_2024_average_stats = {}
for team in tqdm(teams_in_2024):
    df_tmp_if_a_team = season_23_data_team_a_df[season_23_data_team_a_df.WTeamID == team][features_for_averaging]
    df_tmp_if_b_team = season_23_data_team_b_df[season_23_data_team_b_df.WTeamID == team][features_for_averaging]
    average_if_a_team = df_tmp_if_a_team.describe().mean().values
    average_if_b_team = df_tmp_if_b_team.describe().mean().values
    overall_average = (average_if_a_team + average_if_b_team)/2.0
    teams_in_2024_average_stats[team] = overall_average

# teams_in_2024_average_stats = {}
# for team in teams_in_2024:

100%|█████████████████████████████████████████| 362/362 [00:20<00:00, 17.92it/s]

In [325]:
prediction_score_differential = []
teamsA = test_team_a_df.WTeamID.to_list()
teamsB = test_team_b_df.WTeamID.to_list()
for team_a, team_b in tqdm(zip(teamsA, teamsB), total=len(test_team_a_df)):
    prediction = adv_model.predict([np.reshape(teams_in_2024_average_stats[team_a], (1,16)), 
                             np.reshape(teams_in_2024_average_stats[team_b], (1,16))], verbose=False)
    prediction_score_differential.append(prediction)

100%|███████████████████████████████████████| 5607/5607 [06:01<00:00, 15.52it/s]

In [326]:
actual_score_differential = []
for index, (row_a, row_b) in enumerate(zip(test_team_a_df.iterrows(), test_team_b_df.iterrows())):
    index_a, data_a = row_a
    index_b, data_b = row_b
    score_differential = data_a['WScore'] - data_b['WScore']
    actual_score_differential.append(score_differential)
#     print(f"Row {index+1}: => Score Differential: {score_differential}")

In [327]:
count = 0
for x, y in zip(actual_score_differential, prediction_score_differential):
    if x<0 and y<0:
        count += 1
    if x>0 and y>0:
        count+=1
        
print(f"The accuracy over the 2024 regular season is: {(float(count)/len(actual_score_differential))*100.0}% where average score of previous regular season is taken")

The accuracy over the 2024 regular season is: 48.08275370073123% where average score of previous regular season is taken

In [359]:
mens_team = pd.read_csv("./data/MTeams.csv")

In [360]:
team_ids_to_name = {}
team_name_to_ids = {}
for x, y in zip(mens_team.TeamName.to_list(), mens_team.TeamID.to_list()):
    team_ids_to_name[y] = x
    team_name_to_ids[x] = y

In [361]:
# 64 seeded teams

teams_2024_ncaa = pd.read_csv("./data/2024_tourney_seeds.csv")
list_of_team_ids = teams_2024_ncaa[teams_2024_ncaa.Tournament == 'M'].TeamID.to_list()
list_of_team_names = [team_ids_to_name[x] for x in list_of_team_ids]

In [407]:
total_teams = 64
TeamA_ID = []
TeamA_Name = []
TeamB_ID = []
TeamB_Name = []
Is_TeamA_winner = []
count = 0
for i in tqdm(range(total_teams)):
    for j in range(i+1, total_teams):
        count += 1
        TeamA_ID.append(list_of_team_ids[i])
        TeamA_Name.append(team_ids_to_name[list_of_team_ids[i]])
        TeamB_ID.append(list_of_team_ids[j])
        TeamB_Name.append(team_ids_to_name[list_of_team_ids[j]])
        
        TeamA_ID.append(list_of_team_ids[j])
        TeamA_Name.append(team_ids_to_name[list_of_team_ids[j]])
        TeamB_ID.append(list_of_team_ids[i])
        TeamB_Name.append(team_ids_to_name[list_of_team_ids[i]])
        
        team_a_features = np.concatenate([labelEncoder.transform([list_of_team_ids[i]]),teams_in_2024_average_stats[list_of_team_ids[i]]])
        team_b_features = np.concatenate([labelEncoder.transform([list_of_team_ids[j]]),teams_in_2024_average_stats[list_of_team_ids[j]]])
        prediction = adv_model.predict([np.reshape(team_a_features, (1,16)), 
                             np.reshape(team_b_features, (1,16))], verbose=False)
        if prediction > 0:
            Is_TeamA_winner.append(1)
            Is_TeamA_winner.append(0)
        else:
            Is_TeamA_winner.append(0)
            Is_TeamA_winner.append(1)
print(count)

100%|███████████████████████████████████████████| 64/64 [02:32<00:00,  2.39s/it]

2016

In [408]:
final_submission = pd.DataFrame({'TeamA_ID': TeamA_ID, 'TeamA_Name': TeamA_Name, 'TeamB_ID': TeamB_ID,
                                'TeamB_Name': TeamB_Name, 'Is_TeamA_winner': Is_TeamA_winner})

In [409]:
final_submission

      TeamA_ID   TeamA_Name  TeamB_ID   TeamB_Name  Is_TeamA_winner
0         1163  Connecticut      1235      Iowa St                1
1         1235      Iowa St      1163  Connecticut                0
2         1163  Connecticut      1228     Illinois                1
3         1228     Illinois      1163  Connecticut                0
4         1163  Connecticut      1120       Auburn                1
...        ...          ...       ...          ...              ...
4027      1443          WKU      1324      Oakland                0
4028      1324      Oakland      1255     Longwood                0
4029      1255     Longwood      1324      Oakland                1
4030      1443          WKU      1255     Longwood                0
4031      1255     Longwood      1443          WKU                1

[4032 rows x 5 columns]

In [417]:
final_submission.to_csv("./data/Final_brackets_submission.csv", index=False)

In [415]:
# testing for matches played on 19 March
# Howard = 1224
# Wagner = 1447

In [470]:
team_name_to_ids['Grand Canyon']

1213

In [471]:
team_name_to_ids['Marquette']

1266

In [476]:
team_a_features = np.concatenate([labelEncoder.transform([1213]),teams_in_2024_average_stats[1213]])
team_b_features = np.concatenate([labelEncoder.transform([1266]),teams_in_2024_average_stats[1266]])
adv_model.predict([np.reshape(team_b_features, (1,16)), np.reshape(team_a_features, (1,16))], verbose=False)

array([[-3.0033898]], dtype=float32)

In [477]:
team_a_features = np.concatenate([labelEncoder.transform([1213]),teams_in_2024_average_stats[1213]])
team_b_features = np.concatenate([labelEncoder.transform([1266]),teams_in_2024_average_stats[1266]])
adv_model.predict([np.reshape(team_a_features, (1,16)), np.reshape(team_b_features, (1,16))], verbose=False)

array([[6.366941]], dtype=float32)

In [478]:
# Grand Canyon
team_a_features

array([108.        ,  73.63675988,  37.51353254,  61.34776722,
        24.17327798,  34.23797584,  30.97376101,  35.45867427,
        26.10663985,  37.52541967,  28.79420289,  27.78165225,
        22.88896244,  20.64161541,  31.637165  ,  18.49003557])

In [479]:
# Marquette
team_b_features

array([160.        ,  99.68841161,  62.80351195,  86.35031316,
        49.07254804,  58.87724818,  55.77685437,  60.52733221,
        51.64984974,  61.5047744 ,  54.86108744,  53.28371402,
        48.97278062,  46.02113856,  56.26524661,  43.04977478])