In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from tqdm import tqdm
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
# all_season_score = pd.read_csv("./data/MRegularSeasonCompactResults.csv")
all_season_gamewise = pd.read_csv("./data/MRegularSeasonDetailedResults.csv")
ncaa_season_gamewise = pd.read_csv("./data/MNCAATourneyDetailedResults.csv")

In [3]:
all_season_gamewise.head(3)

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23

In [6]:
ncaa_season_gamewise.tail(3)

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
1312,2023,152,1163,72,1274,59,N,0,28,57,...,20,12,12,12,17,10,9,8,1,12
1313,2023,152,1361,72,1194,71,N,0,25,57,...,22,16,21,7,24,6,9,6,2,17
1314,2023,154,1163,76,1361,59,N,0,23,53,...,23,15,20,12,21,7,12,7,2,20

In [4]:
test_data = all_season_gamewise[all_season_gamewise.Season == 2024]
all_season_gamewise = all_season_gamewise[all_season_gamewise.Season < 2024]

In [7]:
combined_df = pd.concat([all_season_gamewise, ncaa_season_gamewise])

In [9]:
combined_df = combined_df.sort_values(by=['Season', 'DayNum'])
combined_df.reset_index(drop=True, inplace=True)

In [15]:
team_1163 = combined_df[(combined_df.LTeamID == 1163) | (combined_df.WTeamID == 1163)]

In [20]:
team_1163[team_1163.Season == 2022].DayNum.unique()

array([  8,  12,  16,  19,  23,  24,  25,  29,  33,  37,  40,  47,  50,
        68,  72,  78,  80,  85,  89,  92,  96,  99, 102, 104, 107, 110,
       113, 118, 121, 124, 129, 130, 136])

In [17]:
team_1163.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [18]:
team = 1163
col_win = ['WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']
col_lose = ['LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
extracted_values = []
start = 0
last_score = 0
for index, row in team_1163.iterrows():
    if start == 0:
        start = 1
        last_score = row.Score